:root {
  --dark-black-color: #0d0f12;
  --light-black-color: #1b1b1b;

  --white-color: #e3e6e8;
  --grey-color: #a9a9a9;

  --yellow-color: #f8cb1e;

  --font-family: "Nunito", system-ui;
  --border-radius: 16px;
}

/* Josh CSS Reset Start */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* Josh CSS Reset End */

html {
  font-size: 18px;
  background-color: var(--dark-black-color);
  color: var(--white-color);
  font-family: var(--font-family);
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

.center-container {
  max-width: 900px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-top: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

main {
    margin-top: 4rem;
}

/* Navigation section START */
#navbar {
  padding: 10px 20px;
  border-bottom: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

#navbar #nav-links {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

a.underline-style {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  color: var(--white-color);
  text-decoration: none;
  transition: 0.05s;
}

a.underline-style > span {
  text-decoration: underline;
  text-decoration-color: var(--white-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a.underline-style:hover {
  background-color: var(--white-color);
  color: var(--dark-black-color);
}

a.underline-style:hover > span {
  text-decoration: underline;
  text-decoration-color: var(--dark-black-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a.light-bg {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  color: var(--dark-black-color);
  text-decoration: underline;
  text-decoration-color: var(--dark-black-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a.light-bg:hover {
  background-color: var(--dark-black-color);
  color: var(--white-color);
  text-decoration: underline;
  text-decoration-color: var(--white-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Navigation section END */

/* Landing hero START */
#landing-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-and-para {
  margin-bottom: 4rem;
}

.heading-and-para h1,
.heading-and-para h2,
.heading-and-para p {
  text-align: center;
}

.heading-and-para h1 {
  font-size: 4rem;
  line-height: 1;
}

.heading-and-para h2 {
  font-size: 2.5rem;
}

.heading-and-para p {
  font-size: 1.4rem;
  color: var(--grey-color);
  margin-top: 1rem;
}

#landing-hero .img-div > img {
  border-radius: var(--border-radius);
  max-width: 90%;
}

.primary-btn {
  text-decoration: none;
  display: inline-block;
  background-color: var(--yellow-color);
  color: var(--dark-black-color);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  text-align: center;
}

.primary-btn span {
  display: inline-block;
}

.primary-btn .btn--main-text {
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
}

.primary-btn .btn--sub-text {
  font-size: 0.9rem;
  margin-top: 0.7rem;
}

/* primary-btn hover animation */
.primary-btn .btn--main-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--dark-black-color);
  transition: width 0.3s ease;
}

.primary-btn:hover .btn--main-text::after {
  width: 100%;
}

#past-contributions-container {
  background-image: url(../landing-assets/stacked-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#past-contributions {
  margin-left: auto;
  margin-right: auto;
}

#past-contributions > p {
  text-align: center;
  color: var(--dark-black-color);
}

#past-contributions #logos {
  margin-top: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

#past-contributions #logos img {
  max-width: 120px;
}

/* Landing hero END */

/* Reviews section START */

#reviews-section-container {
  background-color: #1b1b1b;
}

#reviews-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.review {
  max-width: 450px;
  width: 80vw;
  height: fit-content;
  border-radius: var(--border-radius);
  border: 1px dashed var(--white-color);
  padding: 1rem;
}

.review > .person {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.review > .person > .name-and-designation {
  line-height: 1.1;
  font-size: 0.9rem;
}

.review > .person img {
  max-width: 80px;
  border-radius: 100%;
  border: 1px solid var(--white-color);
}

.review .their-words {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  gap: 1rem;
}

.review .their-words > p {
  font-size: 1.2rem;
}

.highlight-text {
  border-radius: var(--border-radius);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: var(--dark-black-color);
  background-color: var(--yellow-color);
}

.span-highlight {
  text-decoration: underline;
  text-decoration-color: var(--yellow-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
/* Reviews section END */

/* Major learnings START */
#major-learnings {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}

#major-learnings div {
  flex-basis: 350px;
}

#major-learnings div img {
  display: block;
  margin: 0 auto;
}

#major-learnings div p {
  margin-top: 1.6rem;
}
/* Major learnings END */

/* Why START */
#why-container {
  background-color: var(--white-color);
  color: var(--dark-black-color);
}

#why #paras {
  margin: 0 auto;
  width: 90vw;
  max-width: 700px;
}

#why #paras > p {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

#why #paras > ul {
  font-size: 1.5rem;
}

#why #paras > ul > li {
  margin-bottom: 0.8rem;
}

/* Why END */

/* Curriculum START */
#curriculum-top-container {
  background-color: #1b1b1b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e3e6e8' fill-opacity='0.07'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#curriculum .module {
  font-family: monospace;
  max-width: 500px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--white-color);
  color: var(--dark-black-color);
  border-radius: var(--border-radius);
  padding: 2rem;
}

#curriculum .module > p {
  text-align: center;
  color: #1b1b1b;
  border-bottom: 1px solid #1b1b1b;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

#curriculum .module > ul {
  list-style: none;
  padding: 0;
}

#curriculum .module > ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
/* Curriculum END */

/* Who and why START */
#heading-of-course-maker h2 {
  position: relative;
}

#handcraft-svg {
  position: absolute;
  bottom: 100%;
  left: 65%;
}

#who-is-behind {
  max-width: 550px;
  width: 90vw;
}

#who-is-behind hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(227, 230, 232, 0),
    rgba(227, 230, 232, 0.75),
    rgba(227, 230, 232, 0)
  );
}

#who-is-behind #intro {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.6rem;
}

#who-is-behind #intro img {
  max-width: 120px;
  border-radius: 100%;
}

#who-is-behind #story {
  font-size: 1.1rem;
}

#who-is-behind #story p {
  margin-bottom: 2rem;
}
/* Who and why END */
